{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block main-content %}

<div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
      <h3>Registration</h3>
      <hr>
   
   
      <form action="" method="post" novalidate class="shadow p-5">
   
        {% csrf_token %}
        {{ s_form|crispy }}
        {{ r_form|crispy }}
        
   
       <input type="submit" value="Submit" class="btn btn-primary my-2">
       <br>
       <div class="text-center text-primary fw-bold">
           <!-- <small>Forgot Password ? <a href="{% url 'password_reset' %}"class="text-danger">Forgot Password</a></small> -->
           <br>
           <small>Already have an Account <a href="{% url 'login' %}"class="text-danger">Login Now</a></small>
       </div>
       
      </form>
   
     </div>
    </div>
   </div>

{% endblock main-content %}